<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Projet.My.MySettings.GestionHotelConnectionString"
            connectionString="Data Source=DESKTOP-FL4FBU4\SQLEXPRESS;Initial Catalog=GestionHotel;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>